<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise 1</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Custom styles for this template-->
</head>
<body>
  <div class="body">
    <header>
      <!--nav -->
      <div class="navbar navbar-expand-xl fixed-top navbar-light bg-blue shadow-sm">
        <a href="home" class="navbar-brand d-flex align-items-center">
          <img src="/assets/img/logo_tps.svg" alt="TPS's Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" id="Home" href="home">
                <img src="/assets/img/house-bar.png" alt="Bootstrap" width="24" height="24">
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Agreements" href="agreements">
                <img src="/assets/img/supermarket-bar.png" alt="Bootstrap" width="24" height="24">
                Agreements</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto1">
            <li class="nav-item1">
             <a class="nav-link" id="goodafternoon" href="#">
              <b>Pandult</b> <p>Good Afternoon, User</p></a>
            </li>
          </ul>
          <img src="/assets/img/setting.png" alt="Bootstrap" width="18" height="18">
        </div>
      </div>
    </header>
    <!--Body-->
    <div class="container_home d-flex align-content-start flex-wrap">
      <div class="row d-flex flex-wrap">
        <div class="paragraph">
          <h2 id="tittle_para">Welcome to Celerity Enterprises!</h2>
          <p class="para_para">We provide a unified platform for Agreements recociliation, communication, and repoting
            between parties across the supplier and distribution network</p>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <!--Item 1-->
            <div class="item_hashtag d-flex flex-wrap">
              <div class="col-md-3">
                <img src="/assets/img/tag.png" alt="Bootstrap" width="150px" height="150px">
              </div>
              <div class="col-md-7">
                <div class="decscrip">
                  <h2 class="title_tag">Agreements</h2>
                  <p class="para_tag">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus libero omnis voluptatibus
                    provident numquam similique ex, nam impedit unde quam?
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <input type="submit" class="btn btn-info1" value="Get Started">
              </div>
            </div>
            <!--Item 1-->
            <div class="item_hashtag d-flex align-content-start flex-wrap">
              <div class="col-md-3">
                <img src="/assets/img/claim.png" alt="Bootstrap" width="150px" height="150px">
              </div>
              <div class="col-md-7">
                <div class="decscrip">
                  <h2 class="title_tag">Agreements</h2>
                  <p class="para_tag">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus libero omnis voluptatibus
                    provident numquam similique ex, nam impedit unde quam?
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <input type="submit" class="btn btn-info1" value="Get Started">
              </div>
            </div>
            <!--Item 1-->
            <div class="item_hashtag d-flex align-content-start flex-wrap">
              <div class="col-md-3">
                <img src="/assets/img/bar-chart.png" alt="Bootstrap" width="150px" height="150px">
              </div>
              <div class="col-md-7">
                <div class="decscrip">
                  <h2 class="title_tag">Agreements</h2>
                  <p class="para_tag">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus libero omnis voluptatibus
                    provident numquam similique ex, nam impedit unde quam?
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <input type="submit" class="btn btn-info1" value="Get Started">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 WorkFlow">
          <div class="flextitle d-flex justify-content-between">
            <div class="title_workflow">
              <h4 id="h4_workflow">My WorkFlow</h4>
            </div>
            <div class="title_workflow">
              <button type="button" class="btn btn-outline-primary">See all</button>
            </div>
          </div>
          <p class="d-flex justify-content-center content_workflow" >There are no tasks
            assigned to you</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
